*{
    box-sizing: border-box;
}
body{
    background-color: gray;
}
#result{
    width: 338px;
    height: 150px;
    font-size: 20px;
    text-align: bottom;
    position: absolute;
    top: 50px;
    border-top-width: 3px;
    border-right-width: 1px;
    border-right-color: red;
    border-left-width: 1px;

}
#cancel{
    width: 85.5px;
    height: 75px;
    font-size: 20px;
    position: absolute;
    top: 206px;
}
#percentage{
    width: 85.5px;
    height: 75px;
    font-size: 20px;
    position: absolute;
    top: 206px;
    left: 92px;
}
#delete{
    width: 85.5px;
    height: ;
}
#div{}
#seven{}
#eight{}
